.mediaViewInfo {
    --web-view-name: Cash Out;
    --web-view-id: Cash_Out;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Cash_Out;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Cash_Out {
    position: absolute;
    width: 1920px;
    height: 1284px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Cash Out;
    --web-view-id: Cash_Out;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Line_1 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 1832px;
    height: 1px;
    left: 44.5px;
    top: 66.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3 {
    overflow: visible;
    position: absolute;
    width: 1832px;
    height: 1px;
    left: 44.5px;
    top: 1081.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Welcome_to_City_of_Tshwane {
    left: 129px;
    top: 22px;
    position: absolute;
    overflow: visible;
    width: 253px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#n_023_City_of_Tshwane_All_Righ {
    left: 1464px;
    top: 1176px;
    position: absolute;
    overflow: visible;
    width: 391px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#HOME______MUNICIPAL_SERVICES__ {
    left: 236px;
    top: 347px;
    position: absolute;
    overflow: visible;
    width: 1454px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#Rectangle_4 {
    fill: rgba(68,172,51,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 670px;
    height: 432px;
    left: 278px;
    top: 481px;
}
#Services {
    left: 1292px;
    top: 481px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(68,172,51,1);
}
#My_Wallet {
    left: 496px;
    top: 498px;
    position: absolute;
    overflow: visible;
    width: 200px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(255,255,255,1);
}
#Units_KWh_Exchangeable_Units__ {
    left: 339px;
    top: 592px;
    position: absolute;
    overflow: visible;
    width: 315px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#n_45KWh_500KWh__R83000_ {
    left: 733px;
    top: 592px;
    position: absolute;
    overflow: visible;
    width: 156px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Group_5 {
    position: absolute;
    width: 133px;
    height: 133px;
    left: 1689px;
    top: 905px;
    overflow: visible;
}
#Ellipse_1 {
    fill: rgba(68,172,51,1);
}
.Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 133px;
    height: 133px;
    left: 0px;
    top: 0px;
}
#transaction-svgrepo-com {
    fill: rgba(255,255,255,1);
}
.transaction-svgrepo-com {
    overflow: visible;
    position: absolute;
    width: 71.257px;
    height: 57px;
    left: 30.871px;
    top: 38px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_10 {
    position: absolute;
    width: 179px;
    height: 64px;
    left: 339px;
    top: 810px;
    overflow: visible;
}
#Rectangle_8 {
    fill: rgba(255,255,255,1);
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 179px;
    height: 64px;
    left: 0px;
    top: 0px;
}
#CASH_OUT {
    left: 30px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(68,172,51,1);
}
#Rectangle_17 {
    fill: rgba(68,172,51,1);
}
.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 318px;
    height: 353px;
    left: 1002px;
    top: 560px;
}
#Rectangle_18 {
    fill: rgba(68,172,51,1);
}
.Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 318px;
    height: 353px;
    left: 1381px;
    top: 560px;
}
#Buses_LicenseLearners_Booking_ {
    left: 1024px;
    top: 595px;
    position: absolute;
    overflow: visible;
    width: 272px;
    white-space: nowrap;
    line-height: 60px;
    margin-top: -12.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Tshwane_Events_Parks_Museums_ {
    left: 1412px;
    top: 595px;
    position: absolute;
    overflow: visible;
    width: 253px;
    white-space: nowrap;
    line-height: 60px;
    margin-top: -12.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#iconnavigationarrow_right_24px {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1137px;
    top: 858px;
    overflow: visible;
}
#Boundary {
    fill: transparent;
}
.Boundary {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
#n_Color {
    fill: rgba(255,255,255,1);
}
.n_Color {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 24px;
    left: 6.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#iconnavigationarrow_right_24px_bq {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1516px;
    top: 858px;
    overflow: visible;
}
#Boundary_br {
    fill: transparent;
}
.Boundary_br {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
#n_Color_bs {
    fill: rgba(255,255,255,1);
}
.n_Color_bs {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 24px;
    left: 6.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_39 {
    position: absolute;
    width: 152px;
    height: 39px;
    left: 1517px;
    top: 952px;
    overflow: visible;
}
#iconnavigationarrow_right_24px_bu {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 128px;
    top: 8px;
    overflow: visible;
}
#Boundary_bv {
    fill: transparent;
}
.Boundary_bv {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
#n_Color_bw {
    fill: rgba(0,0,0,1);
}
.n_Color_bw {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 24px;
    left: 6.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Transact {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 118px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(6,3,3,1);
}
#Rectangle_19 {
    fill: rgba(68,172,51,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_19 {
    position: absolute;
    overflow: visible;
    width: 968px;
    height: 624px;
    left: 476px;
    top: 330px;
}
#Cash_Out_bz {
    left: 521px;
    top: 364px;
    position: absolute;
    overflow: visible;
    width: 186px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(255,255,255,1);
}
#FormInputTextLarge {
    position: absolute;
    width: 320px;
    height: 48px;
    left: 521px;
    top: 490px;
    overflow: visible;
}
#InputBase {
    position: absolute;
    width: 320px;
    height: 48px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#InputBase_b {
    fill: rgba(255,255,255,1);
    stroke: rgba(224,224,224,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.InputBase_b {
    position: absolute;
    overflow: visible;
    width: 322px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#Text_State {
    left: 12.5px;
    top: 8.5px;
    position: absolute;
    overflow: visible;
    width: 155px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -5px;
    text-align: left;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(134,142,150,1);
}
#FormInputTextLarge_b {
    position: absolute;
    width: 320px;
    height: 48px;
    left: 521px;
    top: 571px;
    overflow: visible;
}
#InputBase_ca {
    position: absolute;
    width: 320px;
    height: 48px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#InputBase_cb {
    fill: rgba(255,255,255,1);
    stroke: rgba(224,224,224,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.InputBase_cb {
    position: absolute;
    overflow: visible;
    width: 322px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#Text_State_b {
    left: 12.5px;
    top: 8.5px;
    position: absolute;
    overflow: visible;
    width: 152px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -5px;
    text-align: left;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(134,142,150,1);
}
#NavbarDropdown {
    position: absolute;
    width: 113px;
    height: 38px;
    left: 521px;
    top: 633px;
    overflow: visible;
}
#transparent {
    fill: transparent;
}
.transparent {
    position: absolute;
    overflow: visible;
    width: 113px;
    height: 38px;
    left: 0px;
    top: 0px;
}
#Label {
    left: 7px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 81px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4px;
    text-align: center;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#icondropdown_arrowdefault {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 90px;
    top: 12px;
    overflow: visible;
}
#DropdownButtonCarotDown_backgr {
    fill: transparent;
}
.DropdownButtonCarotDown_backgr {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
}
#icondropdown_arrow {
    fill: rgba(255,255,255,1);
}
.icondropdown_arrow {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 6px;
    left: 1px;
    top: 4px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_40 {
    position: absolute;
    width: 179px;
    height: 64px;
    left: 527px;
    top: 858px;
    overflow: visible;
    transition: all 0.30000001192092896s ease-out;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Cash_Out_Completed.html;
    cursor: pointer;
}
#Rectangle_8_cf {
    fill: rgba(255,255,255,1);
}
.Rectangle_8_cf {
    position: absolute;
    overflow: visible;
    width: 179px;
    height: 64px;
    left: 0px;
    top: 0px;
}
#Send {
    left: 62px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(68,172,51,1);
}
#Send span a{
    align-items: left;
}
#Rectangle_21 {
    opacity: 0.74;
    fill: rgba(255,255,255,1);
}
.Rectangle_21 {
    position: absolute;
    overflow: visible;
    width: 476px;
    height: 1284px;
    left: 1442px;
    top: 0px;
    transition: all 0.30000001192092896s ease-out;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Cash_Out_Completed.html;
    cursor: pointer;
}
#Rectangle_22 {
    opacity: 0.74;
    fill: rgba(255,255,255,1);
}
.Rectangle_22 {
    position: absolute;
    overflow: visible;
    width: 968px;
    height: 330px;
    left: 476px;
    top: 0px;
    transition: all 0.30000001192092896s ease-out;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Cash_Out_Completed.html;
    cursor: pointer;
}
#Rectangle_23 {
    opacity: 0.74;
    fill: rgba(255,255,255,1);
}
.Rectangle_23 {
    position: absolute;
    overflow: visible;
    width: 968px;
    height: 330px;
    left: 476px;
    top: 954px;
    transition: all 0.30000001192092896s ease-out;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Cash_Out_Completed.html;
    cursor: pointer;
}
#Rectangle_20 {
    opacity: 0.74;
    fill: rgba(255,255,255,1);
}
.Rectangle_20 {
    position: absolute;
    overflow: visible;
    width: 476px;
    height: 1284px;
    left: 0px;
    top: 0px;
    transition: all 0.30000001192092896s ease-out;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Cash_Out_Completed.html;
    cursor: pointer;
}