.mediaViewInfo {
    --web-view-name: Home page ;
    --web-view-id: Home_page_;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Home_page_;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Home_page_ {
    
    
    max-width: 100%;
    min-width: 1000px;
    height: auto;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Home page ;
    --web-view-id: Home_page_;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
/* @keyframes  {


} */
#Line_1 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 1832px;
    height: 1px;
    left: 44.5px;
    top: 66.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3 {
    overflow: visible;
    position: absolute;
    width: 1832px;
    height: 1px;
    left: 44.5px;
    top: 1081.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Welcome_to_City_of_Tshwane {
    left: 129px;
    top: 22px;
    position: absolute;
    overflow: visible;
    width: 253px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#n_023_City_of_Tshwane_All_Righ {
    left: 1464px;
    top: 1176px;
    position: absolute;
    overflow: visible;
    width: 391px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Rectangle_4 {
    fill: rgba(68,172,51,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 670px;
    height: 432px;
    left: 278px;
    top: 481px;
}
#Services {
    left: 1292px;
    top: 481px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(68,172,51,1);
}
#My_Wallet {
    left: 496px;
    top: 498px;
    position: absolute;
    overflow: visible;
    width: 200px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(255,255,255,1);
}
#Units_KWh_Exchangeable_Units__ {
    left: 339px;
    top: 592px;
    position: absolute;
    overflow: visible;
    width: 315px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#n_45KWh_500KWh__R83000_ {
    left: 733px;
    top: 592px;
    position: absolute;
    overflow: visible;
    width: 156px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Group_5 {
    position: absolute;
    width: 133px;
    height: 133px;
    left: 1689px;
    top: 905px;
    overflow: visible;
    transition: all 0.30000001192092896s ease-out;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Home_page___Transaction_Button_Cliked.html;
    cursor: pointer;
}
#Ellipse_1 {
    fill: rgba(68,172,51,1);
}
.Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 133px;
    height: 133px;
    left: 0px;
    top: 0px;
}
#transaction-svgrepo-com {
    fill: rgba(255,255,255,1);
}
.transaction-svgrepo-com {
    overflow: visible;
    position: absolute;
    width: 71.257px;
    height: 57px;
    left: 30.871px;
    top: 38px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_10 {
    position: absolute;
    width: 179px;
    height: 64px;
    left: 339px;
    top: 810px;
    overflow: visible;
    transition: all 0.30000001192092896s ease-out;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Cash_Out.html;
    cursor: pointer;
}
#Rectangle_8 {
    fill: rgba(255,255,255,1);
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 179px;
    height: 64px;
    left: 0px;
    top: 0px;
}
#CASH_OUT {
    left: 30px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 123px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(68,172,51,1);
}
#Group_79 {
    position: absolute;
    width: 179px;
    height: 64px;
    left: 542px;
    top: 810px;
    overflow: visible;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: Give_Back.html;
    cursor: pointer;
}
#Path_3236 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_3236 {
    overflow: visible;
    position: absolute;
    width: 179px;
    height: 64px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#GIVE_BACK {
    left: 29px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Group_41 {
    position: absolute;
    width: 318px;
    height: 353px;
    left: 1002px;
    top: 560px;
    overflow: visible;
    transition: all 0.30000001192092896s ease-out;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Services.html;
    cursor: pointer;
}
#Rectangle_17 {
    fill: rgba(68,172,51,1);
}
.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 318px;
    height: 353px;
    left: 0px;
    top: 0px;
}
#Buses_LicenseLearners_Booking_ {
    left: 22px;
    top: 35px;
    position: absolute;
    overflow: visible;
    width: 272px;
    white-space: nowrap;
    line-height: 60px;
    margin-top: -12.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#iconnavigationarrow_right_24px {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 135px;
    top: 298px;
    overflow: visible;
}
#Boundary {
    fill: transparent;
}
.Boundary {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
#n_Color {
    fill: rgba(255,255,255,1);
}
.n_Color {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 24px;
    left: 6.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_42 {
    position: absolute;
    width: 318px;
    height: 353px;
    left: 1381px;
    top: 560px;
    overflow: visible;
    transition: all 0.30000001192092896s ease-out;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Web_1920___4.html;
    cursor: pointer;
}
#Rectangle_18 {
    fill: rgba(68,172,51,1);
}
.Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 318px;
    height: 353px;
    left: 0px;
    top: 0px;
}
#Tshwane_Events_Parks_Museums_ {
    left: 31px;
    top: 35px;
    position: absolute;
    overflow: visible;
    width: 253px;
    white-space: nowrap;
    line-height: 60px;
    margin-top: -12.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#iconnavigationarrow_right_24px_bw {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 135px;
    top: 298px;
    overflow: visible;
}
#Boundary_bx {
    fill: transparent;
}
.Boundary_bx {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
#n_Color_by {
    fill: rgba(255,255,255,1);
}
.n_Color_by {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 24px;
    left: 6.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_39 {
    position: absolute;
    width: 152px;
    height: 39px;
    left: 1517px;
    top: 952px;
    overflow: visible;
}
#iconnavigationarrow_right_24px_b {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 128px;
    top: 8px;
    overflow: visible;
}
#Boundary_b {
    fill: transparent;
}
.Boundary_b {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
#n_Color_b {
    fill: rgba(0,0,0,1);
}
.n_Color_b {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 24px;
    left: 6.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Transact {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 118px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(6,3,3,1);
}
#Group_71 {
    position: absolute;
    width: 144.944px;
    height: 152px;
    left: 888px;
    top: 126.5px;
    overflow: visible;
}
#Group_69 {
    position: absolute;
    width: 144.944px;
    height: 152px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#HOME____ {
    left: 223px;
    top: 347px;
    position: absolute;
    overflow: visible;
    width: 97px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#n____BIZZ____ {
    left: 1236px;
    top: 348px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#n_____MEDIA____ {
    left: 1339px;
    top: 348px;
    position: absolute;
    overflow: visible;
    width: 133px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#n____CONTACT_US_ {
    left: 1471px;
    top: 348px;
    position: absolute;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#n____ABOUT_TSHWANE_____ {
    left: 977px;
    top: 348px;
    position: absolute;
    overflow: visible;
    width: 260px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#n____COUNCIL____ {
    left: 827px;
    top: 348px;
    position: absolute;
    overflow: visible;
    width: 155px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#n___GRIDXCHANGE____ {
    left: 611px;
    top: 348px;
    position: absolute;
    overflow: visible;
    width: 217px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#n___MUNICIPAL_SERVICES____ {
    left: 319px;
    top: 348px;
    position: absolute;
    overflow: visible;
    width: 293px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#logout-svgrepo-com {
    position: absolute;
    width: 37.777px;
    height: 37.94px;
    left: 1659.723px;
    top: 343.03px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Logged_out.html;
    cursor: pointer;
}
#Path_3233 {
    fill: rgba(0,0,0,1);
}
.Path_3233 {
    overflow: visible;
    position: absolute;
    width: 26.558px;
    height: 37.94px;
    left: 11.219px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_3234 {
    fill: rgba(0,0,0,1);
}
.Path_3234 {
    overflow: visible;
    position: absolute;
    width: 1.897px;
    height: 3.794px;
    left: 22.601px;
    top: 17.073px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_3235 {
    fill: rgba(0,0,0,1);
}
.Path_3235 {
    overflow: visible;
    position: absolute;
    width: 22.601px;
    height: 15.176px;
    left: 0px;
    top: 11.382px;
    transform: matrix(1,0,0,1,0,0);
}