.mediaViewInfo {
    --web-view-name: Password Recover;
    --web-view-id: Password_Recover;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Password_Recover;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Password_Recover {
    position: absolute;
    width: 1920px;
    height: 1284px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Password Recover;
    --web-view-id: Password_Recover;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Line_1 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 1832px;
    height: 1px;
    left: 44.5px;
    top: 66.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3 {
    overflow: visible;
    position: absolute;
    width: 1832px;
    height: 1px;
    left: 44.5px;
    top: 1081.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Welcome_to_City_of_Tshwane {
    left: 129px;
    top: 22px;
    position: absolute;
    overflow: visible;
    width: 253px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#n_023_City_of_Tshwane_All_Righ {
    left: 1464px;
    top: 1176px;
    position: absolute;
    overflow: visible;
    width: 391px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Rectangle_3 {
    fill: rgba(255,255,255,1);
    stroke: rgba(68,172,51,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 811px;
    height: 776px;
    left: 555px;
    top: 210px;
}
#FormInputTextLarge {
    position: absolute;
    width: 384px;
    height: 48px;
    left: 692px;
    top: 615px;
    overflow: visible;
}
#InputBase {
    position: absolute;
    width: 384px;
    height: 48px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#InputBase_bc {
    fill: rgba(255,255,255,1);
    stroke: rgba(224,224,224,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.InputBase_bc {
    position: absolute;
    overflow: visible;
    width: 386px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#Text_State {
    left: 12.5px;
    top: 10.5px;
    position: absolute;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -5px;
    text-align: left;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(134,142,150,1);
}
#Group_50 {
    position: absolute;
    width: 140px;
    height: 118px;
    left: 828.999px;
    top: 266px;
    overflow: visible;
}
#contttttt-1 {
    position: absolute;
    width: 140px;
    height: 118px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Line_2 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_2 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 78.667px;
    left: 139.36px;
    top: 22.513px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_71 {
    position: absolute;
    width: 91.668px;
    height: 96.131px;
    left: 999.333px;
    top: 276.935px;
    overflow: visible;
}
#Group_69 {
    position: absolute;
    width: 91.668px;
    height: 96.131px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#ButtonDefaultLight {
    position: absolute;
    width: 166px;
    height: 49px;
    left: 1088px;
    top: 614px;
    overflow: visible;
    padding: 16px;
}
#Light__F8F9FA {
    fill: rgba(68,172,51,1);
}
.Light__F8F9FA {
    position: absolute;
    overflow: visible;
    width: 166px;
    height: 49px;
    left: 0px;
    top: 0px;
}
#Recover_Password {
    left: 16px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 135px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
}
#Recover_Email {
    left: 863px;
    top: 522px;
    position: absolute;
    overflow: visible;
    width: 196px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(68,172,51,1);
}